h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

.title {
    font-size: 30px;
}
.subtitle {
    font-size: 20px;
}
.city {
    background: #039;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding: 20px;
    width: 600px;
    height: 40px;
    position: absolute;
    top: 30%;
    left: 30%;
    margin: -50px 0 0 -50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    }
.rain {
    border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    background-image: url('rain.jpeg');
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 600px;
    height: 150px;
    position: absolute;
    top: 40%;
    left: 30%;
    margin: -50px 0 0 -50px;
  }
.norm {
    border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    background: #008080;
    /* background: #008080; */
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 600px;
    height: 150px;
    position: absolute;
    top: 40%;
    left: 30%;
    margin: -50px 0 0 -50px;
  }