<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

  <title>Weather App</title>
    </head>
    <body>
        <div class="container">
        <div class="weather-card">
            <h1 class="text-center">Current Weather</h1>
            <p>
                <span class="subtitle">Location: {{weather.location}} </span> <br>
                <span class="subtitle">Condition: {{weather.current}} </span> <br>
                <span class="subtitle">Temperature in Farhenheit: {{weather.ftemp}} </span> <br>
                <span class="subtitle">Temperature in Celsius: {{weather.ctemp}} </span> <br>
                <span class="icon"> <img src="{{ weather.icon_url }}" alt="Weather Icon"> </span> <br>
            </p>
        </div>
        </div>
    </body>
</html>
