<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>Weather App</title>
</head>
<body>
    <div class="container">
      <div class="weather-card">
        <form action="/weather" method="POST">
          <div class="form-group">
            <label for="city">Location:</label>
            <input type="text" id="city" name="city" placeholder="ZIP or City, State, Country" required>
            <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <div id="weather-info" class="mt-4"></div>
        <h2>Weather Basics</h2>
        <p> Start by entering a City or Zip in search field.
          You can search for a city using "City Name, Country Code" query like "London, GB".
          For US state, queries must be formated like "New York, NY, US" due to nature of the Openweather API.
          Please note that all queries must have qoutations.
        </p>
      </div>
    </div>